<!DOCTYPE html>
<html>

  {% include head.html %}
  
  <body>
    <div class="helvetica has-menu" style="margin:0 auto;line-height:1.6;max-width:34rem;" dir="ltr">
      <div class="">

          {% include navigation.html %}

        <main class="note px-2 md:px-0" style="min-height: calc(100vh - 150px);" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/BlogPosting">
          {{ content }}
        </main>
     </div>
      
      {% include footer.html %}

    </div>

    <!-- Prism.js -->
    <script src="https://npmcdn.com/prismjs@1.5.1/prism.js"></script>
    
    
  </body>

</html>
